/.vs
/.vscode
/HopeLink.Dynamics.Plugin/bin/
/HopeLink.Dynamics.Plugin/obj/
/HopeLink.Dynamics.Webresources/obj/
/HopeLink.Dynamics.Webresources/bin/
/Kipon.PluginRegistration/App.config
/HopeLink.Dynamics.DataMigration/bin
/HopeLink.Dynamics.DataMigration/obj
/Kipon.PluginRegistration/obj
/Kipon.PluginRegistration/bin
/packages
/HopeLink.Dynamics.UnitTest/bin/
/HopeLink.Dynamics.UnitTest/obj
/HopeLink.Dynamics.Faker/bin
/HopeLink.Dynamics.Faker/obj
files_*/
node_modules/
bin/

*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn
